body {
  background-color: skyblue;
}

.navbar {
  display: flex;

  /* align-items: center; */
  justify-content: flex-start;
  text-align: center;
  top: 0px;

  border-bottom: 1px solid;
  padding-bottom: 20px;
  padding-top: 20px;

  text-decoration: none;
  box-shadow: 10px 5px 5px rgb(80, 80, 80);
}

.navbar a {
  font-family: "Crimson Pro", serif;
  padding-right: 15px;
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
}


p.text {
  color: rgb(255, 255, 255);
}

p{
  display: inline-block;
  
}

h1
{
  text-align: center;
}